<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICS449App"
        tools:targetApi="31">

        <!-- Sign In & Registration Activities -->
        <activity android:name=".MainActivityHome" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignIn -->
        <activity android:name=".SignInActivity" android:exported="true" />

        <!-- Register -->
        <activity android:name=".RegisterActivity" android:exported="true" />

        <!-- Student & Parent Dashboards -->
        <activity android:name=".StudentDashboardActivity" android:exported="true" />
        <activity android:name=".ParentDashboardActivity" android:exported="true" />
        <activity android:name=".TeacherDashboardActivity" android:exported="true" />

        <!-- View Students -->
        <activity android:name=".ViewStudentsActivity" android:exported="true" />

        <!-- Old Dashboard (Remove if not needed) -->
        <activity android:name=".DashboardActivity" android:exported="false" />
        <receiver
            android:name="com.example.ics449app.MyDeviceAdminReceiver"
            android:exported="true"
            android:label="@string/device_admin"
            android:description="@string/device_admin_description"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
